@import '../../app/[locale]/styles/mixin.scss';
@import '../../app/[locale]/styles/variables.module.scss';

.navbar {
  background-color: $color-primary;
  border-radius: 16px;
  padding: 12px 20px;
  max-width: 1000px;
  height: 63px;
  width: 100%;
  .link {
    display: inline-block;
    margin: 0 5px;
  }
  .active {
    color: $color-orange;
  }
  .link:hover {
    color: $color-orange;
  }
}

